<form action="" #formulario="ngForm" (submit)="onSubmit(formulario.value)">
  <div>
    <label>Titulo</label>
    <input type="text" name="title" ngModel />
  </div>

  <div>
    <label>Descripcion</label>
    <input type="text" name="description" ngModel />
  </div>

  <div>
    <label for="">Prioridad</label>
    <select name="priority" ngModel>
      <option value="0">Leve</option>
      <option value="1">Media</option>
      <option value="2">Urgente</option>
    </select>
  </div>
  <input type="submit" value="Enviar" class="btn btn-outline-primary btn-sm" />
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks; let indice = index">
      <td>{{ task.title | uppercase }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.priority }}</td>
      <td>
        <button (click)="onRemove(indice)" class="btn btn-primary btn-sm">
          Tarea Terminada
        </button>
      </td>
    </tr>
  </tbody>
</table>
